  * {
    margin: 0;
  }
  
  
  
  .header-struc {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    padding: 10px; 
    box-sizing: border-box;
    border-style: none;
    border-width: 0 0 2px 0;
  }
  
  .footer-struc {
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 10px; 
    box-sizing: border-box;
    border-style: none;
    border-width: 0 0 2px 0;
  }
  
  .title-logo {
    width: 100%;
    font-size: 50px;
    font-family: 'impact';
    font-weight: normal;
    letter-spacing: 5px;
    line-height: 60px;
    text-align: center;
  }

  .contents-placement {
    display: flex;
  }
  
  .main-window {
    margin: 0 50px;
    padding: 30px;
    width: 1100px;
    box-sizing: border-box;
    min-height: 1000px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 50px;
  }
  
  
  
  .ma-contents {
    width: 100%;
    word-break:break-all
  }
  
  .side-bar {
    margin-left: 50px;
    width: 200px;
    height: 600px;
    border-style: none;
    border-width: 4px;
  }
  
  .bar-color {
    background-color: #fff;
    border-color: #16825D; /*#007ACC;*/
    box-shadow: 4px 4px 4px;
  }
  
  section {
    margin: 0 auto 30px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    word-break: break-all;
    border-style: none;
    border-width: 4px;
    border-radius: 10px;
  }
  
  .article-heading {
    font-size: 40px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
  
  .article-tags {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
  }

  .links-wrapper {
    width: auto;
    padding: 0 20px;
  }

  .section-link {
    display: list-item;
    width: auto;
    text-decoration: none;
  }
  
  .article-toc {
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .section-heading {
    font-size: 30px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0 0 1px 0;
  }